.clients {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.clients__inner {
    padding: 180px 0;
}

.clients__text-wrap {
    display: flex;
    margin-bottom: 160px;
}

.clients__title {
    font-size: 30px;
    margin-right: 100px;
    flex: 0 0 15%;
}

.clients__text {
    flex: 0 0 60%;
    font-size: 18px;
}

.clients__images {
    display: flex;
    align-items: center;
    animation: chyron 10s infinite linear;
    &:hover {
        animation-play-state: paused;
    }
}

.clients__img-wrap {
    flex: 0 0 150px;    
    max-width: 150px;
    margin-right: 90px;
}

.clients__img {
    max-width: 100%;
    height: auto;
}

@keyframes chyron {
  from { 
    transform: translateX(150%); 
}
  to { 
    transform: translateX(-150%); 
    }
}