.footer {
    width: 100%;
    position: relative;
    background-color: $main-color;
}

.footer__inner {
    padding: 50px 0;
    display: flex;
    align-items: center;
    @media only screen and (max-width: 767px) {
        flex-direction: column;   
        align-items: center;
    }
}

.footer__text {
    color: $secondary-color;
    display: block;
    @media only screen and (min-width: 768px) {
        margin-right: 40px;
        &:last-child {
            margin-right: 0;
        }
    }
    @media only screen and (max-width: 767px) {
        margin-right: 0;
    }
}

.footer__text--logo {
    font-size: 30px;
}